body {
    background-image: url("IMAGES/gradient.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container-body\ mr-20{
    margin: auto;
    width: 80%;
    background-color: white;
    border: lawngreen 3px solid;
}

#container-head {
    background-color: white;
    border: lawngreen 3px solid;
    margin-bottom: 100px;
    
}